<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="https://i.ibb.co/kxWYk3Q/LOGO.png" type="image/x-icon"/>
    <title>Switch</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="index.html">
                    <img src="https://i.ibb.co/kxWYk3Q/LOGO.png">
                </a>
            </div>
            <ul class="menu">
                <button class="btn-custom" id="rodarScriptSwitch">Rodar Script</button>
                <button class="btn-custom" id="fazerBackupSwitch">Fazer Backup</button>
                <button class="btn-custom" id="criarUsuarioSwitch">Criar Usuário</button>
                <button class="btn-custom" id="configuracoesSwitch">Configurações</button>
                <button class="btn-custom" id="configurarBannerSwitch">Configurar Banner</button>
            </ul>
        </nav>
        <div class="text-content">
            <h2>Selecione a função de configuração do Switch:</h2>
            <p>ㅤ</p>
            <p>"Automatizando a Eficiência: Gerenciamento Avançado de Equipamentos Cisco com Python e API"</p>
            </div>
            <script src="/static/js/script.js"></script>
            <div class="play-button">
                <span class="play">GITHUB</span>
                <i class="fas fa-play" onclick="redirectToGithub()"></i>
            </div>
            <div class="wrapper">
                <div class="popup">
                    <div class="popup-inside">
                        <div class="backgrounds">
                            <div class="background"></div>
                            <div class="background background2"></div>
                            <div class="background background3"></div>
                            <div class="background background4"></div>
                            <div class="background background5"></div>
                            <div class="background background6"></div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="content-wrapper" id="modal-content">
                            <button id="close-modal" class="close-button">Fechar Modal</button>
                            <p id="modal-message"></p>
                        </div>
        </header>
        <script>
        function redirectToGithub() {
                    window.location.href = "https://github.com/euumarcel0";
                }
    </script>
    </body>
    </html>