<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="https://i.ibb.co/kxWYk3Q/LOGO.png" type="image/x-icon"/>
    <title>Switch</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="index.html">
                    <img src="https://i.ibb.co/kxWYk3Q/LOGO.png">
                </a>
            </div>
            <ul class="menu">
                <li><a href="index.html">Roda Script</a></li>
                <li><a href="latest.html">Backup</a></li>
                <li><a href="offers.html">Executar um comando</a></li>
                <li><a href="services.html">Criar usuário</a></li>
                <li><a href="contact.html">Configurações</a></li>
                <li><a href="contact.html">Configurar Banner</a></li>
            </ul>
        </nav>
        <div class="text-content">
            <h2>Selecione a função de configuração do Switch:</h2>
            <p>ㅤ</p>
            <p>"Automatizando a Eficiência: Gerenciamento Avançado de Equipamentos Cisco com Python e API"</p>
            </div>
            <div class="play-button">
                <span class="play">GITHUB</span>
                <i class="fas fa-play" onclick="redirectToGithub()"></i>
            </div>
        </header>
        <script>
        function redirectToGithub() {
                    window.location.href = "https://github.com/euumarcel0";
                }
    </script>
    </body>
    </html>